

.show-cards {
  display: flex;
  justify-content: center;
  margin: 60px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1)

}

.car-photo {
  object-fit: cover;
  height: 400px;
  width: 600px;


}

.car-infos {
  width: 600px;
  background-color: white;
  padding: 50px;

}

.car-infos li {
  list-style-type:none;
}

.car-infos .btn-flat {
  align-items: flex-end;
}

.car-infos p  {
  padding-left: 10px;
  display: inline-block;
}


.photo-btn {
  position: relative;
}

.photo-btn .btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.photo-map {
  margin: 0px;
}

.btn-booking {
  margin-top: 30px;
}
