<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>L'essence, c'est trop ! <strong>Passez à la location</strong> de <strong>voitures électriques</strong>!</h1>
    <p>Louer des voitures électriques pour l'environnement</p>
    <a class="btn btn-primary" href="/cars">Accédez aux voitures</a>
    <div class="img-tesla"> <%= image_tag("tesla.png") %> </div>
  </div>
</div>
