.img-formulaire{
  width:1000px;

}

.border{
  padding-top: 5ch;
  padding-bottom:5ch;
  padding-right: 5ch;
  padding-left: 5ch;
  border-radius: 20%;
  background-color:burlywood;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
.text {
  font-weight:bold;
}
