
.img-tesla {
  position: absolute;
  animation: play 4s steps(1000);
  animation-direction: alternate;
  width: 0;
  z-index: 1;
}

@keyframes play {
  from {bottom: -100px; left: 450px; opacity: 100; width: 250px;}
  to {bottom: 550px; left: 1100px; opacity: 50; width: 30px; rotate: -360deg;}
}
