.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-product {
  background: white;
  padding:12px;
  width: 550px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius:4%;
}


.btn-accept{
  background-color: $green;
}
