// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "car_banner";
@import "cards_index";
@import "banner_index";
@import "button";
@import "maps";
@import "booking_formulaire";
@import "banner";
@import "dashboard";
@import "notification";
@import "tabs";
@import "logo_defil";
@import "footer";
